@import url("reset.css");
.w {
  width: 1200px;
  margin: auto;
}
/*清除浮动的*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background-color: #f3f5f7;
  width: 100%;
}
.header {
  height: 42px;
  margin: 30px auto;
}
.header .logo {
  width: 195px;
  height: 100%;
  float: left;
  margin-right: 50px;
}
.header .option {
  float: left;
}
.header .option li {
  float: left;
  font-size: 18px;
  line-height: 42px;
}
.header .option li a {
  display: block;
  height: 40px;
  padding: 0 10px;
  margin-right: 20px;
  line-height: 40px;
  font-size: 18px;
  color: #050505;
}
.header .option li a:hover {
  border-bottom: 2px solid #00a4ff;
}
.header .search {
  width: 412px;
  height: 100%;
  float: left;
  background-color: skyblue;
  margin-left: 50px;
}
.header .search input {
  float: left;
  width: 360px;
  height: 42px;
  padding: 0;
  border: 1px solid #00a4ff;
  border-right: 0;
}
.header .search button {
  float: left;
  width: 50px;
  height: 100%;
  background-image: url(../images/btn.png);
  border: none;
  outline: none;
}
.header .info {
  float: left;
  height: 100%;
  margin-left: 32px;
  line-height: 42px;
  font-size: 14px;
  color: #666666;
}
.header .info img {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}
.banner {
  width: 100%;
  height: 422px;
  background-color: #1c036c;
}
.banner .container {
  height: 100%;
  background-image: url(../images/banner2.jpg);
}
.banner .container .left {
  float: left;
  width: 191px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.banner .container .left ul {
  height: 100%;
  padding-top: 15px;
}
.banner .container .left ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  font-size: 14px;
}
.banner .container .left ul li a {
  display: block;
  color: #fff;
}
.banner .container .left ul li a:hover {
  color: #00b4ff;
}
.banner .container .left ul li a span {
  float: right;
}
.banner .container .right {
  float: right;
  width: 230px;
  height: 300px;
  margin-top: 50px;
  background-color: #fff;
}
.banner .container .right .notice {
  width: 100%;
  height: 100%;
}
.banner .container .right .notice .title {
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
  background-color: #9bceea;
  text-align: center;
}
.banner .container .right .notice .learn {
  padding: 0 20px;
}
.banner .container .right .notice .learn li a {
  display: block;
  padding: 14px 0;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
}
.banner .container .right .notice .learn li a .sublearn {
  font-size: 12px;
  color: #a5a5a5;
}
.banner .container .right .notice .learn button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 6px;
  color: #00a4ff;
  border: 1px solid #00a4ff;
  background-color: #fff;
}
.nav {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
.nav .goods {
  float: left;
  margin-left: 30px;
  color: #00a4ff;
}
.nav ul {
  float: left;
  padding-left: 30px;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  border-left: 1px solid #ccc;
  padding: 0 30px;
}
.nav .interes {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}
.recommend {
  margin-top: 10px;
}
.recommend .title {
  height: 62px;
  line-height: 62px;
}
.recommend .title h3 {
  float: left;
}
.recommend .title a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin-right: 20px;
}
.recommend .course {
  width: 1225px;
}
.recommend .course .course_item {
  display: inline-block;
  width: 18.6%;
  height: 268px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.recommend .course .course_item img {
  width: 100%;
}
.recommend .course .course_item h3 {
  font-size: 14px;
  padding: 20px;
}
.recommend .course .course_item p {
  padding: 0 20px;
  font-size: 12px;
  color: #999999;
}
.recommend .course .course_item p span {
  padding: 0 10px;
}
.recommend .course .course_item p span.high {
  padding-left: 0;
  color: #ff7c2d;
}
.footer {
  width: 100%;
  height: 415px;
  background-color: #fff;
  padding-top: 30px;
}
.footer .left {
  float: left;
}
.footer .left p {
  font-size: 12px;
  color: #666;
  margin: 20px 0 15px 0;
}
.footer .left a {
  display: block;
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #00a4ff;
  border: 1px solid #00a4ff;
  background-color: #fff;
}
.footer .right {
  float: right;
}
.footer .right dl {
  display: inline-block;
  margin-left: 100px;
}
.footer .right dt {
  padding-bottom: 15px;
}
.footer .right dd {
  padding: 3px 0;
  font-size: 12px;
}
/*# sourceMappingURL=./base.css.map */